<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.0/phpunit.xsd"
	bootstrap="vendor/autoload.php"
	colors="true"
>
	<testsuites>
		<testsuite name="dbstudios/prometheus-client">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>

	<php>
		<ini name="apc.enable_cli" value="1" />
	</php>
</phpunit>